@model testFTV.Models.HomeIndex

@{
    ViewData["Title"] = "民視新聞網 - 24小時不間斷專業新聞服務";
}

<div class="row">
    @foreach (var item in Model.TextBasedGuide)
    {
        <div><a href="@item.Url">@item.Title</a></div>
    }
</div>

<div class="row">
    <div class="col col-marquee mt-20">
        <div class="marquee swiper-container">
            <ul class="marquee-carousel swiper-wrapper">
                @foreach (var news in Model.HotNewsMarqueeList)
                {
                    var displayTitle = !string.IsNullOrWhiteSpace(news.ShortTitle) ? news.ShortTitle : news.Title;
                    <li class="swiper-slide">
                        <a href="@news.Url">
                            <span class="mr-2">@displayTitle</span>
                            @if (!string.IsNullOrWhiteSpace(news.TimeText))
                            {
                                <small class="text-muted">@news.TimeText</small>
                            }
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-main">
        <div class="cover-main cover-bg">
            <div class="cover-left">
                <div class="focus-news swiper-container">
                    <div class="btn-ctrl"><a class="btn-left"></a><a class="btn-right"></a></div>
                    <ul class="focus-carousel swiper-wrapper">
                        @foreach (var news in Model.FocusNewsList)
                        {
                            var displayTitle = !string.IsNullOrWhiteSpace(news.ShortTitle) ? news.ShortTitle : news.Title;
                            <li class="swiper-slide">
                                <a href="@news.Url">
                                    @if (!string.IsNullOrWhiteSpace(news.ImageUrl))
                                    {
                                        <span class="img-block">
                                            <img src="@news.ImageUrl" alt="@displayTitle" />
                                        </span>
                                    }
                                    <span class="content">
                                        <span class="title">@displayTitle</span>
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="cover-right">
                <div class="top-news">
                    <div class="heading">
                        <div class="title">
                            <a class="d-block text-white" href="/popular/">熱門新聞</a>
                        </div>
                    </div>
                    <ul>
                        @foreach (var news in Model.HotNewsList)
                        {
                            var displayTitle = !string.IsNullOrWhiteSpace(news.ShortTitle) ? news.ShortTitle : news.Title;
                            <li>
                                <a href="@news.Url">
                                    <div class="content">
                                        <div class="title ellipsis">
                                            @displayTitle
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-20">
            <div class="col-12">
                <div class="live-block">
                    <div class="live-player">
                        <div id="top-live"></div>
                    </div>
                    <div class="live-channel living">
                        <div class="heading">
                            <div class="title">正在直播</div>
                        </div>
                        <div class="nicescroll">
                            <ul id="living-list" class="row"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="container mt-20">
            <div class="row">
                <div class="heading">
                    <div class="title">
                        <a class="d-block text-pink" href="/realtime/">即時新聞</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-4 col-sm-6 button-buffer'>
                    <div class='newsimg-area-item'>
                        <a href="@Model.D1.SectionUrl">
                            <div class='image-container'>
                                <img class='img-fluid' loading='lazy' src="@Model.D1.SectionImageUrl" alt="@Model.D1.SectionShortTitle">
                            </div>
                            <div class='newsimg-area-text'>@Model.D1.SectionShortTitle</div>
                        </a>
                    </div>
                    <div class='index-news-list'>
                        <ul>
                            @foreach (var n in Model.D1.Items.Skip(1))
                            {
                                <li><a href="@n.Url">@n.ShortTitle</a></li>
                            }

                        </ul>
                    </div>
                </div>
                <div class='col-md-4 col-sm-6 button-buffer'>
                    <div class='newsimg-area-item'>
                        <a href="Model.D2.SectionUrl">
                            <div class='image-container'>
                                <img class='img-fluid' loading='lazy' src="@Model.D2.SectionImageUrl" alt="@Model.D2.SectionShortTitle">
                            </div>
                            <div class='newsimg-area-text'>@Model.D2.SectionShortTitle</div>
                        </a>
                    </div>
                    <div class='index-news-list'>
                        <ul>
                            @foreach (var n in Model.D2.Items.Skip(1))
                            {
                                <li><a href="@n.Url">@n.ShortTitle</a></li>
                            }

                        </ul>
                    </div>
                </div>
                <div class='col-md-4 col-sm-6 button-buffer'>
                    <div class='newsimg-area-item'>
                        <a href="@Model.D3.SectionUrl">
                            <div class='image-container'>
                                <img class='img-fluid' loading='lazy' src="@Model.D3.SectionImageUrl" alt="@Model.D3.SectionShortTitle">
                            </div>
                            <div class='newsimg-area-text'>@Model.D3.SectionShortTitle</div>
                        </a>
                    </div>
                    <div class='index-news-list'>
                        <ul>
                            @foreach (var n in Model.D3.Items.Skip(1))
                            {
                                <li><a href="@n.Url">@n.ShortTitle</a></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="short-list col w-100 mt-20">
                <div class="article-head">
                    <div class="d-flex align-items-center short-video-box">
                        <div class="short-video-container text-pink">精彩短影音</div>
                    </div>
                    <a class="btn btn-more" href="/shortvideo/">更多</a>
                </div>
                <div class="shortVideoList swiper-container" id="short-video">
                    <div class="short-btn-ctrl"><a class="short-btn-left"></a><a class="short-btn-right"></a></div>
                    <ul class="cropped-container swiper-wrapper">
                        @foreach (var video in Model.ShortVideos)
                        {
                            <li class='clean-cropped swiper-slide'>
                                <a class='video-link' href='@video.Url'>
                                    <div class='thumbnail-wrapper'>
                                        <img class='thumbnail-img' loading='lazy' src='@video.ImageUrl' alt='@video.Title'>
                                    </div>
                                    <div class='title-wrapper'>
                                        <span class='short-video-title'>@video.Title</span>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </section>

        <div class="swiper-article">
            @* <asp:Literal ID="Lit_CarouselImage" runat="server"></asp:Literal> *@
        </div>

        <section class="row" id="View_ProjNews">
            @if (Model.ProjNews != null && Model.ProjNews.Any())
            {
                foreach (var proj in Model.ProjNews)
                {
                    <div class="news-list cover-story col-xl-6 mt-20">
                        <div class="heading">
                            <div class="title">@proj.ProjTitle</div>
                            <a class="btn btn-more" href="/topic/@proj.ProjSN/">更多</a>
                        </div>

                        <ul>
                            @foreach (var news in proj.Items)
                            {
                                <li>
                                    <a href="/news/detail/@news.ID">
                                        <div class="img-block">
                                            <img loading="lazy" src="@news.ImageUrl" alt="@news.Title" />
                                        </div>
                                        <div class="content">
                                            <div class="title">@news.Title</div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                        <div class="d-block text-center w-100 mb-40">
                            <a class="btn" href="/topic/@proj.ProjSN/">更多新聞</a>
                        </div>
                    </div>
                }
            }
        </section>

        <section class="row" id="View_HomeVideo">
            @if (Model.HomeVideo != null && Model.HomeVideo.Any())
            {
                foreach (var homeVideo in Model.HomeVideo)
                {
                    <div class='col-xl-6 mt-20'>
                        <div class='video-list home'>
                            <div class='heading'>
                                <a class='title' href='/Video/@homeVideo.TitleCate'>@homeVideo.TitleCate</a>
                                <a class='btn btn-more' href='/Video/@homeVideo.TitleCate'>更多</a>
                            </div>
                            <ul>
                                @foreach (var news in homeVideo.Items)
                                {
                                    <li>
                                        <a class="video" href="/video/detail/@news.ID">
                                            <div class='img-block'>
                                                <img loading='lazy' src='@news.ImageUrl' alt='@news.Title' />
                                            </div>
                                            <div class='content'>
                                                <div class='title'>@news.Title</div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
        </section>

        @{
            var anchors = Model.AnchorList?.ToList() ?? new List<testFTV.Models.AnchorItem>();
        }

        <section class="container mt-20">
            <h3>主播群</h3>
            <div class="row">
                <div class="text-muted">
                    AnchorList Count = @(Model.AnchorList?.Count() ?? 0)
                </div>
                @if (anchors.Count == 0)
                {
                    <div class="col-12 text-center text-muted">尚無主播資料</div>
                }
                else
                {
                    @for (var i = 0; i < anchors.Count; i++)
                    {
                        var anchor = anchors[i];
                        <div class="col-md-3 mb-3 text-center">
                            <a href="@anchor.Url">
                                @if (!string.IsNullOrWhiteSpace(anchor.ImageUrl))
                                {
                                    <img src="@anchor.ImageUrl" alt="@anchor.Name" class="img-fluid mb-2" />
                                }
                                <div>@anchor.Name</div>
                            </a>
                        </div>
                    }
                }
            </div>
        </section>
    </div>
</div>